.boxHelper
{
	background-color: #000;
	color:#fff;
	text-align:center;
}

.clearFix{
	clear:both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.map-wrapper{
height: 300px;
}
.map-wrapper, .preload-wrapper {
 height: 300px; 
}

.preload-wrapper { 
	position: absolute;
	background-color: rgba(255, 255, 255, 0.85);
	border: 2px solid #ccc;
	z-index: 50;
	border-radius: 8px;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	color: #CCC;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;

	pointer-events: none;
	transition: opacity 0.7s ease;
}

.hide-preloader { 
	opacity: 0; 
}

.preload-wrapper span { 
	display: block; 
	padding-top:100px;
}

.mapSec h2{
	text-align: center;
	font-size:40px;
	margin-top:20px;
}

@font-face {
    font-family: 'arvo';
    src: url('../fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bonvenocf';
    src: url('../fonts/bonvenocf-light-webfont.woff2') format('woff2'),
         url('../fonts/bonvenocf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo{
	margin-left:12.5%;
	margin-top:35px;
	margin-bottom:50px;
}

.small-button{
	margin-top:5px;
}

ul{
	list-style: none;
	margin-top:50px;
}

li{
	text-align: center;
	height:90px;
	padding-top:12%;
}

li:nth-child(odd){
	background-color:#23716e;
}

li:nth-child(odd) a{
	color:#898383;
}

a{
	text-decoration: none;
	color:black;
	font-family:'arvo';
	font-size:18pt;
}

p{
	font-family:'arvo'
}

#callUs{
	margin-left:12%;
}

#callUs p{
	margin-top:7px;
	margin-left:3px;
}


																		/*main Page*/
h3{
	font-family:'arvo';
	color:#981b1e;
	font-size:22px;
	text-align: center;
	margin-top:50px;
	margin-bottom:40px;
}

article{
	font-family:'bonvenocf';
	font-size: 18px;
	margin-bottom:94px;
}

p{
	font-family:'bonvenocf';
	font-size: 18px;
}

#top{
	background-color:#3e8785;
}

#video{
	background-color:black;
	height:171px;
	width:90%;
	margin-left:5%;
	margin-top:133px;
}

#video img{
	margin-top:7%;
	margin-left:25%;
}

.gallery h3{
	margin-top:110px;
}

.gallery img{
	margin-top:56px;
}
				
																		/*about page*/


.lineDiv{
	height:3px;
	width:120px;
	background-color:#981b1e;
	margin-bottom:94px;
}

																		/*events page*/

.dateSpan{
	font-style: italic;
	color:#480002;
	font-size:10pt;
}

h4{
	text-decoration: underline;
	text-align: center;
	margin-top:80px;
	margin-bottom:10px;
	font-size:20pt;
	font-family: 'bonvenocf';
}

#firstH4{
	margin-top:0px;
}


#news p{
	margin-top:20px;
}

#news a{
	margin-top:70px;
	margin-bottom:70px;
	padding-left:10%;
}

#events h2{
	text-align: center;
	font-family:'arvo';
	color:#981b1e;
	font-size:22px;

}

#events a{
	margin-top:70px;
	margin-bottom:70px;
	padding-left:10%;
}

																		/*bookings page*/

#schedule a:first-child{
	padding-left:15%;
}

#schedule p{
	padding-left:10%;
	padding-top:10px;
}

.bottomPage img{
	margin-top:95px;
}

.bottomPage img:last-child{
	margin-left:15%;
}

#rates h4{
	text-decoration:none;
}

#bookNow{
	color:black;
}

#bookNow span{
	color:#981b1e;
	font-size:40px;
}

#mastercard{
		margin-left:10%;
	}

	#visa{
		margin-left:10%;
	}

	#interact{
		margin-left:15%;
	}


@media screen and (min-width: 63.75em){
	#callUsLarge{
		margin-top:60px;
	}

	li:nth-child(odd){
	background-color:transparent;
	}

	li:nth-child(odd) a{
	color:black
	}

	#video{
		width:40%;
		height:269px;
	}

	#video img{
		margin-left:33%;
		margin-top:15%;
	}

	h3{
		font-size:30px;
	}

	.bottomPage a{
	}

	.lineDiv{
	margin-left:45%;
	}

	#schedule a:first-child{
	margin-left:40px;
	}

	#rates p{
		margin-left:20%;
		float:left;
		font-family: 'arvo';
	}

	#rates img{
		float:left;
	}

	#mastercard{
		margin-left:20%;
	}

	#visa{
		margin-left:10%;
	}

	#interact{
		margin-left:15%;
	}


}